<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style media="screen">
        .google_canvas {
            width: 100vh;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div id="google_canvas" class="google_canvas"></div>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        (function(){
            if(!!navigator.geolocation) {
                var map;
                var mapOptions = {
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById('google_canvas'), mapOptions);

                navigator.geolocation.getCurrentPosition(function(position){
                    var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    
                    var infoWindow = new google.maps.InfoWindow({
                        map: map,
                        position: geolocate,
                        content:
                            '<h1>Esta tu ubicacion con Gelocation</h1>' +
                            '<h2>Latitud:' + position.coords.latitude + '</h2>' +
                            '<h2>Longitud:' + position.coords.longitude + '</h2>'
                    });
                    map.setCenter(geolocate);
                });
            } else {
                document.getElementById('google_canvas').innerHTML = 'No se soporta geolocalización';
            }
        })();
    </script>
</body>
</html>