* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

body {
    background: rgb(255, 255, 255);
}

.card-widht {
    width: 15rem;
}

.card-widht-1 {
    width: 20rem;
}

.pointer {
    cursor: pointer;
}

footer.page-footer {
    bottom: 0;
    color: #fff;
}

.unique-color-dark {
    background: rgb(28, 35, 49);
}

.info-color-dark {
    background: rgb(0, 153, 204);
}

footer .footer-copyright {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, 0.6);
}

/* Estilos card Porductos index */

.card-index {
    position: relative;
    border: none;
}

.card-index:hover {
    -webkit-box-shadow: -1px 4px 22px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 22px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 22px -1px rgba(0,0,0,0.75);
    transform: scale(1.03);
}

.card-width-height {
    width:15rem;
    height: 30rem;
}

.header-products {
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border: 0px solid #000000;
    background: #3CA2DE;
    height: 50px;
}

.zoon {
    transition: transform .5s;
}
.zoom:hover {
    transform: scale(1.05);
}
.card-footer {
    background: white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }